<div class="container" style="margin-top: 60px;padding-bottom: 60px;">
    <div class=" w-100">
        <div class="col-lg-12 col-12 col-md-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ROLL NO</th>
                    <th scope="col">FIRST NAME</th>
                    <th scope="col">LAST NAME</th>
                    <th scope="col">DOB</th>
                    <th scope="col">GENDER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col" colspan="2">OPERATIONS</th>
                  </tr>
                </thead>
                <tr *ngFor="let asg of data index as i">
                    <td>{{asg['id']}}</td>
                    <td>{{asg['f_name']}}</td>
                    <td>{{asg['l_name']}}</td>
                    <td>{{asg['dob']}}</td>
                    <td>{{asg['gender']}}</td>
                    <td>{{asg['email']}}</td>
                    <td><i class="fas fa-pen"   style="color: blue;"></i></td>
                    <td><i class="fas fa-trash" (click)="delete(asg.id)" style="color: red;"></i></td>
                 
                    <!-- <td><a href=""><i class="fas fa-pen" style="color: blue;"></i></a></td>
                    <td><a href="" ><i class="fas fa-trash" style="color: red;"></i></a></td>  -->
                    
                </tr>
              
              </table>
        </div>
    </div>
</div>